header {
    width: 100%;
    background: url('../../images/cover-image-006.jpg') no-repeat fixed center center /cover;
}

header .overlay-div {
    background: rgba(4, 17, 34, 0.705);
}

header .container {
    min-height: 94vh;
}

header h1 {
    text-shadow: 2px 2px 10px rgba(0,0,0,0.15);
}